<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>Controller.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailController</servlet-name>
        <servlet-class>Controller.ProductDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>Controller.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>Controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>Controller.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartQuantity</servlet-name>
        <servlet-class>Controller.UpdateCartQuantity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartController</servlet-name>
        <servlet-class>Controller.DeleteCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>Controller.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>Controller.AdminController.Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListController</servlet-name>
        <servlet-class>Controller.AdminController.UserListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeRoleController</servlet-name>
        <servlet-class>Controller.AdminController.ChangeRoleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusController</servlet-name>
        <servlet-class>Controller.AdminController.ChangeStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByRole</servlet-name>
        <servlet-class>Controller.AdminController.SearchByRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByGender</servlet-name>
        <servlet-class>Controller.AdminController.SearchByGender</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByStatus</servlet-name>
        <servlet-class>Controller.AdminController.SearchByStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDetail</servlet-name>
        <servlet-class>Controller.AdminController.UserDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>Controller.AdminController.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadAvatarServlet</servlet-name>
        <servlet-class>Controller.AdminController.UploadAvatarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassController</servlet-name>
        <servlet-class>Controller.MKTCusController.ChangePassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileController</servlet-name>
        <servlet-class>Controller.MKTCusController.UserProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SliderListController</servlet-name>
        <servlet-class>Controller.SliderController.SliderListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSlider</servlet-name>
        <servlet-class>Controller.SliderController.EditSlider</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerListController</servlet-name>
        <servlet-class>Controller.MKTCusController.CustomerListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCustomer</servlet-name>
        <servlet-class>Controller.MKTCusController.EditCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UImageProfile</servlet-name>
        <servlet-class>Controller.MKTCusController.UImageProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyOrderController</servlet-name>
        <servlet-class>Controller.MyOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyOrderDetailController</servlet-name>
        <servlet-class>Controller.MyOrderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogSearchController</servlet-name>
        <servlet-class>Controller.PostController.BlogSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostSearchController</servlet-name>
        <servlet-class>Controller.PostController.PostSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListMKTController</servlet-name>
        <servlet-class>Controller.ProductListMKTController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailController</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/carts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartQuantity</servlet-name>
        <url-pattern>/updateQuantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartController</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListController</servlet-name>
        <url-pattern>/userlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeRoleController</servlet-name>
        <url-pattern>/ChangeRole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusController</servlet-name>
        <url-pattern>/ChangeStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByRole</servlet-name>
        <url-pattern>/SearchByRole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByGender</servlet-name>
        <url-pattern>/SearchByGender</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByStatus</servlet-name>
        <url-pattern>/SearchByStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetail</servlet-name>
        <url-pattern>/UserDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/UpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadAvatarServlet</servlet-name>
        <url-pattern>/UploadAvatarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassController</servlet-name>
        <url-pattern>/changepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileController</servlet-name>
        <url-pattern>/uprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SliderListController</servlet-name>
        <url-pattern>/SliderList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSlider</servlet-name>
        <url-pattern>/EditSlider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerListController</servlet-name>
        <url-pattern>/CustomerList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCustomer</servlet-name>
        <url-pattern>/EditCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UImageProfile</servlet-name>
        <url-pattern>/uimagepro5</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BlogListController</servlet-name>
        <servlet-class>Controller.PostController.BlogListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailController</servlet-name>
        <servlet-class>Controller.PostController.BlogDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostDetailController</servlet-name>
        <servlet-class>Controller.PostController.PostDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostListController</servlet-name>
        <servlet-class>Controller.PostController.PostListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostEditController</servlet-name>
        <servlet-class>Controller.PostController.PostEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostDelete</servlet-name>
        <servlet-class>Controller.PostController.PostDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BlogListController</servlet-name>
        <url-pattern>/bloglist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailController</servlet-name>
        <url-pattern>/blogdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostDetailController</servlet-name>
        <url-pattern>/postdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostListController</servlet-name>
        <url-pattern>/postlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostEditController</servlet-name>
        <url-pattern>/postedit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostDelete</servlet-name>
        <url-pattern>/postdelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyOrderController</servlet-name>
        <url-pattern>/myorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyOrderDetailController</servlet-name>
        <url-pattern>/orderdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogSearchController</servlet-name>
        <url-pattern>/blogsearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostSearchController</servlet-name>
        <url-pattern>/postsearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListMKTController</servlet-name>
        <url-pattern>/productlist</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
</web-app>
